@use 'variables';
@use'mixins';

* {
    margin: 0;
    padding: 0;
}

// Start of Heading 

.heading {
    background-color: #192140;
    height: 84px;
    width: 1440px;
    display: grid;
    grid-template-columns: 20%, 60%, 20%;
}

.refocus-logo {
    grid-column: 1/2;
    width: 120px;
    height: 50px;
    padding-top: 13px;
    padding-left: 80px;
    
}

.toggle-btn {
    border: 2px solid white;
    width: 15px;
    height: 10px;
    border-radius: 100%;
    padding: 10px;
    display: none;
    
}
.toggle-btn span {
    display: none;
    width: 15px;
    height: 2px;
    background-color: white;
    margin-bottom: 5px;
}

#menu-list {
    grid-column: 2/3; 
    display: flex;
    align-items: center;
    color: variables.$white-color;
    gap: 50px;
    margin-left: 200px;
    margin-top: -70px;
    font-size: 16px;
    line-height: 24px;
    font-family: variables.$main-font-family;
    position: relative;
}

#blog:hover {
    @include mixins.menu-list-hover();
}

#our-courses:hover {
    @include mixins.menu-list-hover();
}

#webinars:hover {
    @include mixins.menu-list-hover();
}

#reviews:hover {
    @include mixins.menu-list-hover();
}

.account-input {
    grid-column: 3/4;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
    gap: 60px;
    font-family: variables.$main-font-family;
}

#signup-btn {
    @include mixins.buttons();
}

#login-btn {
     @include mixins.buttons();
}

#signup-btn:hover {
    @include mixins.button-hover();
}

#login-btn:hover {
     @include mixins.button-hover();
}

// End of Heading

// Start of Main Content
.card {
    width: 1440px;
    display: grid;
    grid-template-columns: 33%, 33%, 34%;
    grid-template-rows: 33%, 33%, 34%;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 20px;
}

.news-card {
    height: 350px;
    width: 320px;
    margin-left: 50px;
}

.news-img {
    height:180px;
    width: variables.$news-img-width;
    border: 1px solid white;
    border-radius: 10px;
}

.delete {
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 93%;
    margin-top: -20px;
    display: none;
}

.read-mark {
    width: 10px;
    height: 10px;
    position: relative;
    left: 30px;
    right: 0px;
    top: 0px;
}

.check-mark {
    width: 15px;
    height: 15px;
    display: none;
}

.news-title {
    position: relative;
    width: 280px;
    left: 30px;
    right: 30px;
    top: 15px;
    font-family: variables.$main-font-family;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: black;
}

.foot-note {
    display: flex;
    border-top: 1px solid #9D9DB5; 
    position: relative;
    width: 280px;
    top: 30px;
    left: 30px;
    right: 30px;
}

.date-published {
    position: relative;
    top: 10px;
    left: 0px;
    height: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.6px;
    color: variables.$gray-color;
    text-align: left;
    font-family: variables.$content-font-family;
}

.heart-btn {
    height: 13px;
    width: 13px;
    position: relative;
    top: 10px;
    left: 140px;
    color: variables.$gray-color;
    cursor: pointer;
}

.red-heart {
    height: 16px;
    width: 16px;
    position: relative;
    top: 8px;
    left: 125px;
    display: none;
}

.like-counter {
    position: relative;
    top: 10px;
    left: 150px;
    color: variables.$gray-color;
    font-size: 12px;
    font-family: variables.$content-font-family;
}

#news1 {
    grid-column: 1/2;
    grid-row: 1/2;

}

#news2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

#news3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

#news4 {
    grid-column: 1/2;
    grid-row: 2/3;
}

#news5 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#news6 {
    grid-column: 3/4;
    grid-row: 2/3;
}

#news7 {
    grid-column: 1/2;
    grid-row: 3/4;
}

#news8 {
    grid-column: 2/3;
    grid-row: 3/4;
}

#news9 {
    grid-column: 3/4;
    grid-row: 3/4;
}

// End of Main Content

// Start of Footer

.footer {
    height: 274px;
    width: 1440px;;
    display: grid;
    grid-template-columns: 70%, 30%;
    grid-template-rows: 50%, 50%;
    background-color: #10131C;
    color: variables.$white-color;

}

.blog {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 50px;
    margin-left: 5%;
}

.blog-header {
    @include mixins.footer-header();
    font-family: variables.$main-font-family;
}

.blog-list {
    @include mixins.footer-list();
    font-family: variables.$content-font-family;
}

#data-analyst:hover {
    @include mixins.footer-hover();
}

#web-developer:hover {
    @include mixins.footer-hover();
}

#career:hover {
    @include mixins.footer-hover();
}

#success-stories:hover {
    @include mixins.footer-hover();
}

#resume:hover {
    @include mixins.footer-hover();
}

#hard-skills:hover {
    @include mixins.footer-hover();
}

#soft-skills:hover {
    @include mixins.footer-hover();
}

.courses {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 5%;
}

.courses-header {
    @include mixins.footer-header();
    font-family: variables.$main-font-family;
}

.courses-list {
    @include mixins.footer-list();
    font-family: variables.$content-font-family;
}

#data-analytics:hover {
    @include mixins.footer-hover();
}

#web-development:hover {
    @include mixins.footer-hover();
}

.follow-us {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 50px;
}

.follow-header {
    @include mixins.footer-list();
    font-family: variables.$content-font-family;
}

.social-media {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.follow-img {
    width: 30px;
    height: 30px;
    background-color: variables.$white-color;
    border-radius: 100px;
}

.trademark {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 40px;
    display: flex;
    gap: 10px;
    color: variables.$gray-color;
    font-family: variables.$content-font-family;
    opacity: 40%;
    font-size: 12px;
    font-weight: 400;

}

// Media Query for Medium Mobile

@media  only screen and (max-width: 375px) {
    .new-website {
        width: 375px;
    }

    .refocus-logo {
        @include mixins.refocus-logo-mobile();
    }

    .heading {
        width: 375px;
    }

    .menu-mobile {
        position: absolute;
        left: 300px;
        bottom: 35px;
        width: 50px;
        height: 50px;
        top: 25px;
    }

    .toggle-btn {
        display: block;
    }

    .toggle-btn span {
        display: block;
    }

    #menu-list {
        display: none;
        width: 375px;
    }

    #menu-list.show {
        display: block;
        padding: 15px 0px;
        border-top: 2px solid #dcf10D;
        background-color: #192140;
        padding-top: 20px;
        text-align: center;
        color: white;
        margin-left: -100px;
        margin-top: 80px;
    }

    .account-input {
        display: none;
    }

    .card {
        @include mixins.card-mobile();
        width: 375px;
    }

    .news-card {
        margin-left: 30px;
    }

    .news-img {
        width: 310px;
    }

    .news-title {
        width: 250px;
    }

    .foot-note {
        width: 260px;
    }

    .heart-btn {
        left: 110px;
    }

    .red-heart {
    height: 16px;
    width: 16px;
    position: relative;
    top: 8px;
    left: 96px;
    display: none;
}

    .like-counter {
        left: 120px;
    }

    .footer {
        width: 375px;
        @include mixins.footer-mobile();
    }

    .blog {
        @include mixins.blog-mobile();
    }

    .blog-header {
        @include mixins.blog-header-mobile();
    }

    .blog-list {
        @include mixins.blog-list-mobile();
    }

    .courses {
        @include mixins.courses-mobile();
    }

    .courses-header {
        @include mixins.courses-header-mobile();
    }

    .courses-list {
        @include mixins.courses-list-mobile();
    }

    .follow-us {
        @include mixins.follow-us-mobile();
    }

    .social-media {
        margin-top: 0px;
    }

    .follow-img {
        width: 20px;
        height: 20px;
        
    }

    .trademark {
        @include mixins.trademark-mobile();
    }

    #data-analyst:hover {
        @include mixins.footer-hover-mobile();
    }

    #web-developer:hover {
        @include mixins.footer-hover-mobile();
    }

    #career:hover {
        @include mixins.footer-hover-mobile();
    }

    #success-stories:hover {
        @include mixins.footer-hover-mobile();
    }

    #resume:hover {
       @include mixins.footer-hover-mobile();
    }

    #hard-skills:hover {
       @include mixins.footer-hover-mobile();
    }

    #soft-skills:hover {
        @include mixins.footer-hover-mobile();
    }

    #data-analytics:hover {
        @include mixins.footer-hover-mobile();
    }

    #web-development:hover {
        @include mixins.footer-hover-mobile();
    }
}

// Media Query For Small Mobile 

@media  only screen and (max-width: 320px) {
    .new-website {
        width: 320px;
    }

    .refocus-logo {
        @include mixins.refocus-logo-mobile();
    }

    .heading {
        width: 320px;
    }

    .menu-mobile {
        position: absolute;
        left: 250px;
        bottom: 35px;
        width: 50px;
        height: 50px;
        top: 25px;
    }

    .toggle-btn {
        display: block;
    }

    .toggle-btn span {
        display: block;
    }

    #menu-list {
        display: none;
       
    }

    #menu-list.show {
        display: block;
        padding: 15px 0px;
        border-top: 2px solid #dcf10D;
        background-color: #192140;
        padding-top: 20px;
        text-align: center;
        color: white;
        margin-left: -100px;
        margin-top: 80px;
        width: 320px;
    }

    .account-input {
        display: none;
    }

    .card {
        @include mixins.card-mobile();
        width: 320px;
        margin: 0px;
    }

    .news-card {
        margin-left: 0px;
    }

    .news-img {
        width: 310px;
        padding-left: 4px;
    }

    .news-title {
        width: 250px;
    }

    .foot-note {
        width: 250px;
    }

    .heart-btn {
        left: 110px;
    }

    .red-heart {
    height: 16px;
    width: 16px;
    position: relative;
    top: 9px;
    left: 95px;
    display: none;
    }

    .like-counter {
        left: 120px;
    }

    .footer {
        width: 320px;
        @include mixins.footer-mobile();
    }

    .blog {
        @include mixins.blog-mobile();
    }

    .blog-header {
        @include mixins.blog-header-mobile();
    }

    .blog-list {
        @include mixins.blog-list-mobile();
    }

    .courses {
        @include mixins.courses-mobile();
    }

    .courses-header {
        @include mixins.courses-header-mobile();
    }

    .courses-list {
        @include mixins.courses-list-mobile();
    }

    .follow-us {
        @include mixins.follow-us-mobile();
    }

    .follow-header {
        @include mixins.follow-header-mobile();
    }

    .social-media {
        margin-top: 0px;
    }

    .follow-img {
        width: 20px;
        height: 20px;
        
    }

    .trademark {
        @include mixins.trademark-mobile();
    }

    #data-analyst:hover {
        @include mixins.footer-hover-mobile();
    }

    #web-developer:hover {
        @include mixins.footer-hover-mobile();
    }

    #career:hover {
        @include mixins.footer-hover-mobile();
    }

    #success-stories:hover {
        @include mixins.footer-hover-mobile();
    }

    #resume:hover {
       @include mixins.footer-hover-mobile();
    }

    #hard-skills:hover {
       @include mixins.footer-hover-mobile();
    }

    #soft-skills:hover {
        @include mixins.footer-hover-mobile();
    }

    #data-analytics:hover {
        @include mixins.footer-hover-mobile();
    }

    #web-development:hover {
        @include mixins.footer-hover-mobile();
    }
}

